<template>
    <div>
        <Navbar/>
        <div class="container">
            <h1>Connexion Form</h1>
            <form>

                <input type="text" placeholder="email" v-model="email"/>
                {{email}}

                <input type="password" placeholder="votre mot de passe" v-model="password"/>

                <b-btn @click="validateForm">Connexion</b-btn>

                <div v-if="errorMessage">

                        <span>Mot de passe ou email invalide</span>

                </div>

            </form>
            <div v-for="(item, key) in array" :key="key" class="d-flex pt-5">
                <div class="pr-5">{{key}}</div>
                <div class="pr-5">{{item.email}}</div>
                <div>{{item.password}}</div>
            </div>
        </div>
        {{test}}
    </div>
</template>
<script>
import Navbar from '../components/Navbar.vue'
export default {
    components:{
        Navbar
    },
    data(){
        return {
            email: 'antoine',
            password: '',
            errorMessage: false,
            array: [
                { email: "email 1", password: "password 1"},
                { email: "email 2", password: "password 2"},
                { email: "email 3", password: "password 3"},
                { email: "email 4", password: "password 4"},
            ]
        }
    },
    methods: {
        validateForm() {
            if(this.email === "alex" && this.password ==="password") {
                alert("je suis connecter")
            } else {
                this.errorMessage = true
            }
        },
        validateFormV2() {
            this.email === "alex" && this.password ? alert("je suis connecté") : this.errorMessage = true
        },
        validateFormV3(){
            if(this.email === "test" && this.password === "test") alert("je suis connecter")
            else this.errorMessage = true
        },
        validateFormV4() {
            return this.email === "test" && this.password === "test"
        },
        count() {

        }
    },
    computed:{
        test(){
            this.array.map(item => {
                console.log(item.email)
            })
            let array_filter = this.array.filter(item => item.email !== "email 1")
            console.log(array_filter)
        }
    }
}
</script>

<style>

.container{
    width: 50%;
    margin: auto
}

</style>